.nav__btn-close {
  position: relative;
  margin-bottom: 10px;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: #000;
}

// .header__burger {
//   display: block;
// }

.header__nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 420px;
  height: 100vh;
  z-index: 999;
  padding: 10px 10px;
  padding-top: 50px;
  background-color: #fff;
  overflow-y: auto;
  visibility: hidden;
  transform: translateX(-120%);
  transition: visibility .3s ease, transform .3s ease;
}

.header__nav--active {
  visibility: visible;
  transform: none;
}

.header__nav .nav__btn-close {
  display: block;
}

.header__nav .nav__items {
  flex-direction: column;
}

.header__nav .nav__item:not(:last-child) {
  margin-right: 0;
  margin-bottom: 10px;
}

.stop-scroll {
  overflow: hidden;
}